body {
    /*noinspection CssInvalidPropertyValue*/
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    position: fixed;
    background-color: var(--semi-color-primary);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--semi-color-primary-hover);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--semi-color-primary-active);
}
